<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Birthdays</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div >
    <ul class="navbar">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/bdays">Birthdays</a></li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="/templates">Templates</a></li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="/users">Users</a></li>
    </ul>
</div>
<div>
        <h3>All Birthdays</h3>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Date of Birth</th>
                <th></th>
                <th></th>
            </tr>
            <th:block th:each="birthday: ${allBdays}">
                <tr>
                    <td th:text="${birthday.id}"></td>
                    <td th:text="${birthday.userName}"></td>
                    <td th:text="${birthday.dateOfBirth}"></td>
                    <td>
                        <form th:action="@{'/bdays/'+${birthday.id}}" method="get">
                            <button><img src='/images/delete.png'/> </button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/editBirthday/'+${birthday.id}}" method="get">
                            <button type="submit"><img src="/images/edit.png"></button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
        <form method="get" action="/add">
            <button type="submit">Add Birthday</button>
        </form>
</div>
</body>
</html>
