<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Birthdays</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div>
    <ul class="navbar">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/bdays">Birthdays</a></li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="/templates">Templates</a></li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="/users">Users</a></li>
    </ul>
</div>
<div>
    <form th:object="${newUser}" action="/addUser" method="post">
        <h3>Add new User</h3>
        <h3 th:text="${error}"></h3>
        <table>
            <tr>
                <td>User name</td>
                <td><input type="text" maxlength="100"
                           th:value="${newUser.userName}" name="userName" pattern="^(?!\s*$).+" required></td>
            </tr>
            <tr>
                <td>Login</td>
                <td><input type="text" maxlength="50"
                           th:value="${newUser.login}" name="login" pattern="^(?!\s*$).+" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" maxlength="100" name="password"
                           th:value="${password}" pattern="^(?!\s*$).+" required></td>
            </tr>
            <tr>
                <td>Role</td>
                <td>
                    <select name="role" required>
                        <option>User</option>
                        <option>Admin</option>
                    </select>
                </td>
            </tr>
        </table>
        <p><button type="submit">Save changes</button></p>
    </form>
</div>
</body>
</html>
