<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Login page</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form action="/bdays" method="post" class="login-form">
            <h2>Please login</h2>
            <input type="text" name="userLogin" value="meh">
            <input type="password" name="password" value="megan"><br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>