<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Birthdays</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script th:src="@{/js/inputCheck.js}"></script>
</head>
<body>
<div>
    <ul class="navbar">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/bdays">Birthdays</a></li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="/templates">Templates</a></li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="/users">Users</a></li>
    </ul>
</div>
<div>
    <form th:object="${saveTemplate}" th:action="@{'/editTemplate/'+${id}}" method="post" onsubmit="isEmptyInput()">
        <h3>Edit template</h3>
        <h3 th:text="${error}"></h3>
        <p>Template message:
            <textarea maxlength="200" id="textArea" name="template"
                      th:text="${template}" cols="30" rows="5" wrap="soft" required></textarea></p>
        <p><button>Save changes</button></p>
    </form>
</div>
</body>
</html>
